:host {
    display: flex;
    gap: var(--large-gap);
    background-color: var(--background-medium-color);
    padding: var(--medium-padding);
    border-radius: var(--medium-radius);
}
.header {
    flex: 0;
}

.board-column {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    flex: 1;
}

.success {
    background-color: var(--success-color);
}

.warning {
    background-color: var(--warning-color);
}