<div class="board-column" *ngIf="allToDoListItems$ | async as allToDoListItems">
  <div class="header">
    <span i18n="@@all">All</span> ({{ allToDoListItems.length }})
  </div>
  <div *ngFor="let item of allToDoListItems">{{ item.name }}</div>
</div>
<div
  class="board-column"
  *ngIf="inProgressToDoListItems$ | async as inProgressToDoListItems"
>
  <div class="header">
    <span i18n="@@in_progress">In Progress</span> ({{
      inProgressToDoListItems.length
    }})
  </div>
  <div *ngFor="let item of inProgressToDoListItems" class="warning">
    {{ item.name }}
  </div>
</div>
<div
  class="board-column"
  *ngIf="completedToDoListItems$ | async as completedToDoListItems"
>
  <div class="header">
    <span i18n="@@compleated">Completed</span> ({{
      completedToDoListItems.length
    }})
  </div>
  <div *ngFor="let item of completedToDoListItems" class="success">
    {{ item.name }}
  </div>
</div>
