:root {
    // Colors
    --background-light-color: #f5f5f5;
    --background-medium-color: #dadada;
    --background-dark-color: #393e46;
    --text-light-color: #fcfcfc;
    --text-dark-color: #1d1d1d;
    --danger-color: #f44336;
    --warning-color: #ff9d09;
    --success-color: #30c77e;

    // Radius
    --small-radius: 4px;
    --medium-radius: 8px;
    --large-radius: 16px;

    // Margin
    --small-margin: 4px;
    --medium-margin: 8px;
    --large-margin: 16px;

    // Padding
    --small-padding: 4px;
    --medium-padding: 8px;
    --large-padding: 16px;

    // Gap
    --small-gap: 4px;
    --medium-gap: 8px;
    --large-gap: 16px;
}
