<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <kendo-dialog
    title="Please confirm"
    *ngIf="data.isShowForm"
    (close)="close()"
    [minWidth]="250"
    [width]="450"
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        padding-bottom: 15px;
      "
    >
      <input
        type="text"
        name="name"
        [(ngModel)]="task.name"
        placeholder="Add your new todo"
      />
      <input
        type="text"
        name="description"
        [(ngModel)]="task.description"
        placeholder="Add description"
      />
    </div>

    <kendo-dialog-actions>
      <button kendoButton type="submit">Ok</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</form>
