<div class="container">
  <h1>{{ title }}</h1>
  <ul class="list">
    <app-to-do-list-item
      class="list-item"
      *ngFor="let item of list"
      [list]="item"
      (isDelete)="deleteTodo(item.id)"
    >
    </app-to-do-list-item>
  </ul>
  <div class="footer-list">
    <kendo-textbox
      type="text"
      placeholder="Add your new todo"
      [(ngModel)]="text"
    ></kendo-textbox>
    <button class="btn btn-add" (click)="addTodo()" [disabled]="!text">
      Add task
    </button>
  </div>
</div>
