<app-spinner />
<div style="display: flex; gap: 10px; height: 96vh">
  <div class="container" *ngIf="!data.isLoading">
    <kendo-buttongroup width="100%" selection="single">
      <button
        kendoButton
        [toggleable]="true"
        [selected]="true"
        (click)="filter('All')"
        i18n="@@all"
      >
        All
      </button>
      <button
        kendoButton
        [toggleable]="true"
        (click)="filter('InProgress')"
        i18n="@@in_progress"
      >
        InProgress
      </button>
      <button
        kendoButton
        [toggleable]="true"
        (click)="filter('Completed')"
        i18n="@@comoleted"
      >
        Completed
      </button>
    </kendo-buttongroup>
    <ul class="list" *ngIf="toDoListItems$ | async as tasks">
      <app-to-do-list-item
        *ngFor="let item of tasks"
        tooltip="{{ item.description }}"
        class="list-item"
        [class.selected]="item.id == id"
        [task]="item"
        [routerLink]="item.id"
        (dblclick)="isShow(item.id)"
      >
        <app-button-component
          *ngIf="item.id != data.editItemId"
          tooltip="delete"
          title="Delete"
          [primary]="true"
          (click)="deleteTodo(item.id)"
          i18n-title="@@Btn_delete"
          i18n-tooltip="@@Btn_delete_tooltip"
        />
        <app-button-component
          *ngIf="item.id == data.editItemId"
          tooltip="save"
          title="Save"
          (click)="save(item)"
          i18n-title="@@Btn_save"
          i18n-tooltip="@@Btn_save_tooltip"
        />
      </app-to-do-list-item>
    </ul>
    <!-- <app-to-do-item-view /> -->
    <div class="footer-list">
      <app-button-component
        tooltip="add"
        title="Add task"
        [primary]="false"
        (click)="addTodo(data.isShowForm)"
        style="width: 100%"
        i18n-title="@@addTaskTitle"
        i18n-tooltip="@@Btn_add_tooltip"
      />
    </div>
    <app-todo-create-item />
  </div>
  <div style="width: 77%">
    <router-outlet></router-outlet>
  </div>
</div>
