.btn{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 50px;
    color:white;
    font-size: 18px;;
}
.btn:hover{
    opacity: 0.5;
}
.btn:disabled{
    opacity: 0.5;
}
.btn-primary {
    background-color: rgb(238, 79, 79);
  }
.btn-secondary {
    background-color:  rgb(55, 175, 73);
}